<form [formGroup]="configurationFormGroup" fxLayout="column">
    <div fxLayout="row">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="getOrientation()" (change)="setOrientation(group.value)">
            <mat-button-toggle value="left">
                <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center">
                <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right">
                <mat-icon>format_align_right</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="justify">
                <mat-icon>format_align_justify</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</form>